<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>EnterpriseBI</title>
        <link rel="stylesheet" href="/bootstrap/bootstrap-4.3.1-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bootstrap/enterpriseBI.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">EnterpriseBI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/produits">Produits</a>
                    <a class="nav-item nav-link" href="/fournisseurs">Fournisseurs</a>
                    <a class="nav-item nav-link" href="/etablissements">Etablissements</a>
                    <a class="nav-item nav-link" href="/villes">Villes</a>
                    <a class="nav-item nav-link" href="/departements">Départements</a>
                    <a class="nav-item nav-link" href="/measurementUnits">Unités de mesure</a>
                </div>
                <hr class="my-4">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="#">Login</a>
                    <a class="nav-item nav-link" href="#">Signup</a>
                    <a class="nav-item nav-link" href="#">Logout</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Bienvenue sur <strong>EnterpriseBI</strong></h1>
                <p class="lead">Société de commerce général</p>
                <hr class="my-4">
        