<% include partials/header %>
                <a class="btn btn-primary btn-lg" href="/fournisseurs/new" role="button">Ajouter un nouveau fournisseur</a>
            </div>
        </div>
<div class="container m-auto">
    <h1>Liste des fournisseurs</h1>
    <div class="row">
        <% fournisseurs.forEach(function(fournisseur) { %>
            <div class="col-md-3">
                <figure class="figure img-thumbnail">
                    <img src="<%= fournisseur.image %>" class="figure-img img-fluid" alt="">
                    <figcaption class="figure-caption"><h6><%= fournisseur.nom %></h6></figcaption>
                </figure>
            </div>
        <% }); %>
    </div>
</div>

<% include partials/footer %>